html,
body {
  height: 100%;
}

#page {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(center);
  height: 100vh;
  width: 100vw;
}

.site-body {
  width: 80%;
  max-width: 60rem;
}

@import "header";
@import "content";
@import "footer";
