.pog-list {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;

  .pog {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    .icon {
      height: 1.8em;
      width: 1.8em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid $color__tertiary;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      font-size: 4em;
    }

    p {
      margin: 0;
      text-align: center;
    }

    .heading {
      font-weight: bold;
      margin-top: 10px;
    }

    .context {
      margin-top: 10px;
    }
  }
}
