$pog__vertical_margin: 60px;
$pog__horizontal_margin: 50px;
$pog_width: 150px;

.pog-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .pog {
    margin-right: $pog__horizontal_margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $pog_width;
    margin-top: $pog__vertical_margin;

    &:last-of-type {
      margin-bottom: $pog__vertical_margin;
    }

    .icon {
      height: 1.8em;
      width: 1.8em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid $color__tertiary;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      font-size: 4em;
    }

    p {
      margin: 0;
      text-align: center;
    }

    .heading {
      font-weight: bold;
      margin-top: 10px;
      white-space: nowrap;
    }

    .context {
      margin-top: 10px;
    }
  }
}
