$spacing__0: 0;
$spacing__1: 0.25rem; // 4px
$spacing__2: 0.5rem; // 8px
$spacing__3: 0.75rem; // 12px
$spacing__4: 1rem; // 16px
$spacing__5: 1.25rem;
$spacing__6: 1.5rem;
$spacing__8: 2rem; // 32px
$spacing__10: 2.5rem;
$spacing__12: 3rem;
$spacing__16: 4rem; // 64px
$spacing__20: 5rem;
$spacing__24: 6rem;
$spacing__32: 8rem; // 128px

$spacing__s: 20rem;
$spacing__m: 30rem;
$spacing__d: 40rem;
$spacing__g: 50rem;
$spacing__l: 60rem; // 720px - container width
